{% extends "base.html" %}
{% block content %}
<a href="/upload">Загрузить фото.</a>
<table align="center">
    {% for row in rows %}
    <tr>
        {% for cell in row %}
        <td>
            <a href="{{ PHOTOS_URL }}/{{ cell.url }}">
                <img width="200px" src="{{ PHOTOS_URL }}/{{ cell.url }}">
            </a>
            <br/>
            {{ cell.title }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
