{% extends "base.html" %}
{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data">
<p>Загрузить изображение:<br>
    <input type="file" name="photo">
</p>
<p>Заголовок:<br>
    <textarea name="title" cols="40" rows="3"></textarea>
</p>
<p>
    <input type="submit" value="Отправить">
</p>
</form>
{% endblock %}
